<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title> 
    <link rel="stylesheet" href="style.css">
   </head>
<body>
  <div class="wrapper">
    <h2>Login</h2>
    <form method="post" action="/auth/login2">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required name="username">
      </div>
     
      <div class="input-box">
        <input type="password" placeholder="Create password" required  name="password">
      </div>
    
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Still do not have an account? <a href="http://localhost:5000/register">Register now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>